body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #B1D5FF;
    color: black;
}

header {
    background-color: #B1D5FF;
}

h1 {
    font: 500;
    font-size: 100px;
    color: black;
}

.h1_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.intro {
    font-size: 50px;
}

.intro_wrapper {
    margin-left: 70px;
    margin-right: 70px;
}

main {
    background-color: #FAF8F1;
    padding-top: 2px;
    padding-bottom: 60px;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-size: 70px;
}

.captured_wrapper {
    margin-top: 100px;
    margin-left: 350px;
}

h3 {
    display: block;
    margin-left: 50px;
    font-size: 60px;
}

.section_desc {
    font-size: 50px;
    margin-left: 40px;
}

.product_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.pic_size {
    width: 900px;
    height: 900px;
}

.pic_container {
    display: flex;
    justify-content: space-evenly;
}

.country_name {
    display: flex;
    justify-content: center;
}

.flag {
    width: 60px;
    height: 60px;
    
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    font-size: 50px;
}

.arrow {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}